@charset "utf-8";
/* CSS Document */

*{
	
	box-sizing: border-box;
}
li{
	list-style: none;
}
a{
	padding: 0;
	margin: 0;
	text-decoration:none;
	font-size: 13pt;
	color: #fff;
	cursor: pointer;
}
p,span,ul,small{
	padding: 0;
	margin: 0;
}
ul::after{
	display: table;
	clear: both;
	content: "";
}
h1,h2,h3,h4{
	color:#000;
	margin: 0;
	padding: 0;
	text-align: center;
}
.clearfix{
	display: block;
	content: "";
	clear: both;
}
body{
	color: #000;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	font-family: "a-otf-gothic-bbb-pr6n","游ゴシック体","Yu Gothic","YuGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",sans-serif;
}
#tmp_wrap_body{
	min-width: 1520px;
	height: auto;
	margin: 0;
	background:url("images/OI4K8P0.jpg")no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	line-height: 1.0;
}
#tmp_mainvisual{
	position: relative;
	width: 100%;
	height: auto;
}
#tmp_mainvisual #mainvisual_img{
	width: 70%;
	height: auto;
}
#tmp_mainvisual #mainvisual_img img{
	width: 100%;
	height: auto;
}
#tmp_menu{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: auto;
	background:url("images/header.png") no-repeat;
	background-size: 100% auto;
	padding: 25px 0;
	margin: 0 0 0 auto;
	display: flex;
}
#tmp_menu ul{
	width: 85%;
	margin: 0 0 0 456px;
}
#tmp_menu ul::after{
	display: block;
	content: "";
	clear: both;
}
#tmp_menu ul li{
	width: 33.33%;
	float: left;
	padding: 0 75px 0;
}
#tmp_menu ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}
#tmp_menu ul li.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top:100%;
  left: 20%;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
	background-color: #a83224;
}
.dropdown:hover .dropdown-content {
  display: block;
}

#tmp_menu ul li a{
	display: block;
	text-align: center;
	color: #540000;
	font-family: "FOT-筑紫明朝 Pr6N M", "游明朝", Yu Mincho, YuMincho, Hiragino Mincho ProN, "HGS明朝E", "メイリオ", Meiryo, serif;
	font-size: 16pt;
}
#tmp_menu ul .displaynone a::after{
	display: none;
	visibility: hidden;
} 

#tmp_menu h1{
	width: 15%;
    height: auto;
	margin: 0 10px 0 0;
}
#tmp_main_text{
	width: 37%;
    height: 270px;
    position: absolute;
    background: url("images/old-letter.png") no-repeat;
	background-size: 100% auto;
	top: 330px;
	right: 128px;
	padding: 100px 111px 10px;
}
#tmp_main_text img{
	width: 100%;
	height: auto;
}
#tmp_wrap_body #tmp_body #to{
	width: 49%;
    background: url("images/tobG.png") no-repeat;
    position: relative;
    perspective: 500px;
    margin: 255px auto;
    height: 359px;
	box-shadow: -7px 9px 22px #6c5957;
}
#tmp_wrap_body #tmp_body #to #nho{
	width: 100%;
	height: auto;
	background: url("images/tobG.png") no-repeat;
	padding: 5px 0 0;
}
#tmp_wrap_body #tmp_body #to #nho #top_positon{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height:auto;
	transform-origin: top left;
	transition: transform 0.8s linear;
}
#tmp_wrap_body #tmp_body #to #nho #bottom_positon{
	width: 100%;
	height:auto;
	position: absolute;
	top: 155px;
	left: 0;
	z-index: 3;
	transform-origin: bottom left;
	transition: transform 0.6s linear;
}
#tmp_wrap_body #tmp_body #to #nho #left_positon{
	width: 50%;
	height:auto;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transform-origin: bottom left;
	transition: transform 0.4s linear;
}
#tmp_wrap_body #tmp_body #to #nho #right_positon{
	width: 50%;
	height:auto;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	transform-origin: bottom right;
	transition: transform 0.2s linear;
}
#to:hover #top_positon{
	transform: rotateX(180deg);
}
#to:hover #bottom_positon{
	transform: rotateX(-180deg);
}
#to:hover #left_positon{
	transform: rotateY(-180deg);
}
#to:hover #right_positon{
	transform: rotateY(180deg);
}
/***********************************************************************************************/
#letter_cnt2{
	width: 100%;
	height: auto;
	display: flex;
}
#letter_cnt2 .letter_text{
	width: 50%;
	height: auto;
	background: url("images/paper01.png") no-repeat;
	background-size: 100% auto;
	padding: 40px 30px 5px;
}
.letter_text .txt_style{
	font-size: 14px;
	line-height: 1.5em;
	text-align: left;
}
.txt_style1{
	font-size: 20px;
}
#letter1_txt .txt_style{
	font-size: 14px;
	line-height: 1.7em;
	text-align: left;
}
#letter_cnt2 .letter_img{
	width: 50%;
	height: auto;
	padding: 5px 20px 20px;
}
#letter_cnt2 img{
	width: 85%;
	height: auto;
}
/**********************************************************************************************/
#letter_content {
    width: 100%;
    height: 500px;
    margin: 0 auto;
	display: flex;
	padding: 0 125px;
	margin-bottom: 50px;
}
#letter_content #letter1{
	width: 50%;
	height: auto;
	position: relative
} 
#letter_content #letter2{
	width: 50%;
	height: auto;
	position: relative;
}
#letter_content #letter1 #L1{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7;
	width: 100%;
	height:auto;
}
#letter_content #letter1 #L1_2{
    position: absolute;
    top: 0;
    left: 12px;
    z-index: 5;
    width: 97%;
    height: auto;
}
#letter_content #letter1 #rotate{
    position: absolute;
    top: -83px;
	left: 200px;
	z-index: 6;
	width: 40%;
    height: auto;
    transform-origin: 50% 50%;
    transition: transform 0.8s linear;
	box-shadow:  0px -16px 22px #6c5957;
}
#letter_content #letter1 #rotate #L1_3{
width: 100%;
height: auto;
}
#letter1:hover #rotate{
	transform: translateY(-250px) rotate(-12deg);
	
}
#letter_content #letter2 #L2{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 15;
	width: 100%;
	height:auto;
}

#letter_content #letter2 #L2_2{
    position: absolute;
    top: 0;
    left: 12px;
    z-index: 8;
    width: 97%;
    height: auto;
}
#letter_content #letter2 #L2_3{
    position: absolute;
    top: -92px;
	left: 50px;
	z-index: 11;
	width: 40%;
    height: auto;
    transform-origin: 50% 50%;
    transition: transform 0.8s linear;
	box-shadow: 2px -9px 15px #6c5957;

}
#letter_content #letter2 #L2_4{
	position: absolute;
	top: -92px;
	right: 50px;
	z-index: 11;
	swidth: 40%;
	height: auto;
	
	box-shadow: 2px -9px 15px #6c5957;
}
#letter2 #rotate2{
	transform-origin: 50% 50%;
	transition: transform 0.8s linear;
	z-index: 11;
}
#letter2 #rotate3{
	transform-origin: 50% 50%;
	transition: transform 0.8s linear;
	z-index: 11;
}
#letter2:hover #rotate2{
 	transform: translateY(-230px) rotate(-5deg);
}
#letter2:hover #rotate3{
	transform: translateY(-230px) rotate(5deg);
}
#letter2_txt{
	position: absolute;
	top: 0;
	left: 58px;
	z-index: 11;
	width: 39%;
	height: auto;
}
#letter1_txt{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: auto;
	padding: 10px;
}
#letter1_txt img{
    width: 70%;
	height: auto;
	margin: 0 auto;
	display: block;
}
#rotate3 #L2_5{
	position: absolute;
	top: -57px;
	right: 73px;
	z-index: 14;
	transform: rotate(5deg);
	width: 40%;
	height: auto;
}
#rotate3 #L2_6{
	position: absolute;
	top: 145px;
	right: 230px;
	z-index: 13;
	transform: rotate(5deg);
	width: 40%;
	height: auto;
}
#tmp_footer{
	background: url("images/footer.png") no-repeat;
	height: 370px;
	width: 100%;
	padding: 303px 0 0;
}
#tmp_footer small{
	font-size: 14px;
	text-align: center;
	display: block;
}