@charset "utf-8";
/* CSS Document */
*{
	
	box-sizing: border-box;
}
li{
	list-style: none;
}
a{
	padding: 0;
	margin: 0;
	text-decoration:none;
	font-size: 13pt;
	color: #fff;
	cursor: pointer;
}
p,span,ul,small{
	padding: 0;
	margin: 0;
}
ul::after{
	display: table;
	clear: both;
	content: "";
}
h1,h2,h3,h4{
	color:#000;
	margin: 0;
	padding: 0;
	text-align: center;
}
.clearfix{
	display: block;
	content: "";
	clear: both;
}
body{
	color: #000;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	font-family: "a-otf-gothic-bbb-pr6n","游ゴシック体","Yu Gothic","YuGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",sans-serif;
}
#tmp_wrap_body{
	min-width: 1520px;
	height: auto;
	margin: 0;
	background:url("images/OI4K8P0.jpg")no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	line-height: 1.0;
}
#tmp_mainvisual{
	position: relative;
	width: 100%;
	height: auto;
}
#tmp_mainvisual #mainvisual_img{
	width: 70%;
	height: auto;
}
#tmp_mainvisual #mainvisual_img img{
	width: 100%;
	height: auto;
}
#tmp_menu{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: auto;
	background:url("images/header.png") no-repeat;
	background-size: 100% auto;
	padding: 25px 0;
	margin: 0 0 0 auto;
	display: flex;
}
#tmp_menu h1{
	width: 15%;
    height: auto;
	margin: 0 10px 0 0;
}
#tmp_menu ul{
	width: 85%;
	margin: 0 0 0 456px;
}
#tmp_menu ul::after{
	display: block;
	content: "";
	clear: both;
}
#tmp_menu ul li{
	width: 33.33%;
	float: left;
	padding: 0 75px 0;
}
#tmp_menu ul li a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}
#tmp_menu ul li.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top:100%;
  left: 20%;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
	background-color: #a83224;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#tmp_menu ul li a{
	display: block;
	text-align: center;
	color: #540000;
	font-family: "FOT-筑紫明朝 Pr6N M", "游明朝", Yu Mincho, YuMincho, Hiragino Mincho ProN, "HGS明朝E", "メイリオ", Meiryo, serif;
	font-size: 16pt;
}

#tmp_menu ul .displaynone a::after{
	display: none;
	visibility: hidden;
} 
#tmp_main_text{
	width: 37%;
    height: 270px;
    position: absolute;
    background: url("images/old-letter.png") no-repeat;
	background-size: 100% auto;
	top: 330px;
	right: 128px;
	padding: 107px 50px 59px;

}
#tmp_main_text img{
	width: 100%;
	height: auto;
}
#library_content{
	margin-bottom: 50px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.wrap_library h2 img{
	width: 100%;
	height: auto;
}
.wrap_library h2 {
    width: 80%;
    height: auto;
    padding: 35px 0;
    margin: 0 auto;
}
.wrap_library ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.wrap_library ul li{
	width: 100%;
	height: auto;
	background: #fff;
	margin-bottom: 20px;
}
.wrap_library ul h3{
	width: 100%;
	height: auto;
}
.wrap_library ul h3 img{
	width: 100%;
	height: auto;
}
.wrap_library ul li .img_txt{
	width: 100%;
	height: 100px;
}
.wrap_library ul li .img_txt a{
	background:#230649;
	padding: 42px 0;
	text-decoration: underline;
	font-size: 13pt;
	color:#fff;
	cursor: pointer;
	text-align: center;
	display: block;
	transition: all cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.wrap_library ul li .img_txt a:hover{
	background: #90caee;
	color: #230649;
}
.wrap_library ul li:nth-child(2n){
	margin-right:none;
}
.wrap_library ul li .img_txt h3{
	color: #fff;
}
.wrap_library ul li .img_txt p{
	color: #fff;
}
.wrap_library ul li img{
	width: 100%;
	height: auto;
}
#tmp_footer{
	background: url("images/footer.png") no-repeat;
	height: 370px;
	width: 100%;
	padding: 303px 0 0;
}
#tmp_footer small{
	font-size: 14px;
	text-align: center;
	display: block;
}