@charset "utf-8";
/* CSS Document */
html {
    margin: 0 auto !important;
}
* html body {
margin-top: 0 !important;
}
*{
	
	box-sizing: border-box;
}
li{
	list-style: none;
}
a{
	padding: 0;
	margin: 0;
	text-decoration:none;
	font-size: 15pt;
	color: #fff;
	cursor: pointer;
}
p,span,ul,small{
	padding: 0;
	margin: 0;
}
ul::after{
	display: table;
	clear: both;
	content: "";
}
h2{
	color:#fff;
}
body{
	color: #fff;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	font-family: "a-otf-gothic-bbb-pr6n","游ゴシック体","Yu Gothic","YuGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",sans-serif;
}
#wrap_body{
	/*min-width: 1500px;*/
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-image: url("/project_coffee/images/paper-1074131_1920.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	line-height: 1.0;
	font-weight: 400;
}
header{
	width: 100%;
	background-color: #270900;
	height: 100px;
}
header::after{
	display:table;
	clear:both;
	content:"";
}
#header_left{
	width: 65%;
	float:left;
	height: 100%;
	padding: 14px 0;
	padding-left: 150px;
}
#header_left img{
	width: 20%;
    height: 100%;
}
#header_right{
	width: 35%;
	height: 100px;
	float:right;
	padding:40px 30px 40px 150px;
}
header ul li{
	float: left;
}
header ul li:first-child{
	background: url("/project_coffee/images/LOCAL2.png")no-repeat;
	background-size: 13px 13px;
}
header ul li:first-child a{
	display: block;
	padding-left: 20px;
}
header ul li a,
header ul li span{
	display: block;
	letter-spacing: 0.5em;
	font-size: 9pt;
	color: #fff;
}
#header_right a li{
	transition: all ease 0.4s;
}
#header_right a:hover{
	color: #ffbc1f;
	text-shadow: 1px 1px 5px #ffbc1f;
}
/*---------nav-----------------*/
.header_nav{
	width: 100px;
	height: 750px;
	background-color: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
nav {
    width: 100px;
    height: 750px;
    background-color: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
nav ul.tate{
	width: 450px;
	position: absolute;
	text-align: left;
	transform: rotate(-90deg);
	left: -180px;
	top: 400px;
}
nav .tate li{
	width: 108px;
	height: auto;
	display: inline-block;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	transition: all ease 0.4s;
}
nav .tate li a{
	display: inline-block;
	letter-spacing: 0.3em;
	font-size: 10pt;
	padding: 10px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}
nav .tate li a.current{
	color: #ffbc1f;
	text-shadow: 1px 1px 5px #ffbc1f;
}

nav .tate li a:hover{
	color: #ffbc1f;
	text-shadow: 1px 1px 5px #ffbc1f;	
}

/*-----------------toggle bar-------------------------*/
#toggle{
	width: 100px;
	height: 100px;
	position: fixed;
	display: block;
	padding: 35px;
	top: 0;
	left: 0;
	z-index: 23;
	cursor: pointer;
}
#toggle p{
	max-width: 50px;
	position: relative;
	margin: 0 auto;
	
}
#toggle p .bar{
	position: absolute;
	display: block;
	height: 2.5px;
	background: #fff;
	right: 0;
	left: 0;
}
#toggle p .top{
	top: 8px;
	transition: all ease 0.4s ;
}

#toggle p .medium{
	top: 18px;
	transition: all ease 0.1s ;
}

#toggle p .bottom{
	top: 27px;
	transition: all ease 0.4s ;
}

.toggle-active .top {
    transform: translateY(6px) translateX(0) rotate(45deg);
}
.toggle-active .bottom {
    transform: translateY(-12px) translateX(0) rotate(-45deg);
}
.toggle-active .medium{
	display: hidden;
	visibility: hidden;
}
#wrap_content_right{
	width: 100%;
	margin-left: -100px;
	position: relative;
	top: 0;
	left: 100px;
}
.content_right{
	margin-left: 100px;
}
#wrap_mainvisual{
	position: relative;
}
/***********slide-ontop***************/
#wrap_slide{
	position: relative;
}
.slide-ontop{
	position: absolute;
	right: 120px;
	top: 250px;
	z-index: 4;
	display: table;
	clear: both;
	content: "";
}
.slide-ontop p{
	text-align: right;
	font-size: 11pt !important;
}
.slide-ontop h1{
	display: block;
	text-align: right;
	line-height: 1.1;
    letter-spacing: 0.2em;
    font-size: 55px; 
    font-weight: 800;
	margin: 20px 0;
}
.slide-ontop .button{
	float: right;
	margin: 30px 0;
	background-color: #270900;
}
.slide-ontop .button a{
	position: relative;
	display: block;
	text-align: center;
	padding: 20px 30px;
	font-size: 14pt;
	letter-spacing: 0.2rem;
	color: #fff;
	font-weight: bold;
}
.slide-ontop .button a::before{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 0;
	height: 5px;
	box-sizing: border-box;
	background:#ffbc1f;
	transition: width cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.slide-ontop .button a::after{
	position: absolute;
	bottom: 0;
	right: 0;
	content: "";
	width: 0;
	height: 5px;
	box-sizing: border-box;
	background:#ffbc1f;
	transition: width cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.slide-ontop .button:hover a::before{
	width: 100%;
}
.slide-ontop .button:hover a::after{
	width: 100%;
}
.slide-ontop .button p{
	position: relative;
}
.slide-ontop .button p::before{
	position: absolute;
	bottom: 0;
	left:0;
	content: "";
	width: 6px;
	height: 0;
	box-sizing: border-box;
	background:#ffbc1f;
	transition: height cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.slide-ontop .button:hover p::before{
	height: 100%;
}
.slide-ontop .button p::after{
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	width: 6px;
	height: 0;
	box-sizing: border-box;
	background:#ffbc1f;
	transition: height cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.slide-ontop .button:hover p::after{
	height: 100%;
}
/***********************over lay*********************/
.nav-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
.overlay {
    position: fixed;
	display: flex;
    background-image: url("/project_coffee/images/coffee-171653_1920.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 2;
    height: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .35s, visibility .35s, height .35s;
}
.overlay #wrap_ul{
position: relative;
width: 100%;
padding-top: 60px;
margin: 10px 5px;
background-size: auto 50px;
}
#overlay .overlay_taste li{
	margin: 100px 100px;
}
#overlay .overlay_taste li a{
	display: block;
	text-align: center;
	font-size: 32px;
	font-weight: 800;
}
#overlay .overlay_taste li a:hover{
color:#ffbc1f;
text-shadow: 1px 1px 5px#ffbc1f;
}
.overlay #wrap_ul img:nth-of-type(2){
	width: 130px;
	height: auto;
    position: absolute;
    top: 150px;
    left: 90px;
}
.overlay #wrap_ul img:nth-of-type(1){
	position: absolute;
	width: 75px;
	height: auto;
    top: 100px;
    right: 120px;
}
.overlay #wrap_ul #wrap_ul_child{	
	display: flex;
	text-align: center;
    list-style: none;
	padding:200px 20px 0;
}
.nav-active {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay #wrap_ul h1 a{
	display: none;
	visibility: hidden;
}
.overlay #wrap_ul #wrap_ul_child ul {
    display: block;
	width: 33.333%;
	border-right: 3px dotted #fad9c1;
}
.overlay #wrap_ul #wrap_ul_child ul:last-child{
	border-right: none;
}
.overlay #wrap_ul #wrap_ul_child h2{
	margin: 0 0 20px;
}
.overlay #wrap_ul #wrap_ul_child h2 a{
	font-size: 36pt;
	display: block;
}
.overlay #wrap_ul #wrap_ul_child ul li a {
    color: #fff;
    text-decoration: none;
	font-size: 12pt;
	display: block;
	padding: 10px;
	font: bold;
	text-align: left;
}
/*******************banner*******************************/
.banner {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	padding: 0 100px;
	position: relative;
	
} 
.banner2{
	display: none;
	visibility: hidden;
}
.banner .wrap_menu{
	display:flex;
}
.banner .wrap_menu #menu_botton{
	display: none;
	visibility: hidden;
	position: absolute;
	bottom: -5px;
	left: 0;
	background: url("/project_coffee/images/drink-menu.png") no-repeat;
	width: 1420px;
	height: 402px;
	background-size: 100% auto;
}
.banner .wrap_menu #menu_botton ul{
	width: 86.5%;
	margin: 180px auto;
}
.banner .wrap_menu #menu_botton ul::after{
	display: block;
	content: "";
	clear: both;
}
.banner .wrap_menu #menu_botton ul li{
	width: 33.33%;
	float: left;
}
.banner .wrap_menu #menu_botton ul li a{
	display: block;
    color: #584d49;
    padding: 20px;
    text-align: center;
    font-size: 20pt;
	font-weight: 900;
}
.banner .wrap_menu #menu_botton ul li a:hover{
	color: #fff;
	text-shadow: 1px 1px 5px #fff;
}
.banner h2{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 100pt;
	color: #FAD9C1;
	font-family:Georgia, "Times New Roman", Times, "serif";	
}
.banner .text {
    width: 50%;
    padding: 275px 0;
}
.banner .text h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 50pt;
    color: #fff;
    font-family: Georgia, "Times New Roman", Times, "serif";
}
.banner a{
	padding: 0;
	margin: 0;
}
.banner #coffe_packs{
	width: 50%;
	padding: 100px 50px 50px 100px;
}
.banner #coffe_packs img{
    width: 100%;
    height: auto;
}

.banner .text .text2 {
    display: block;
    font-family: Georgia, "Times New Roman", Times, "serif";
    text-align: center;
    font-size: 20pt;
    padding: 30px 0 0 50px;
}
.list_product .limitted_list{
	width: 100%;
	position: relative;
	padding: 10px 0;
}
.list_product .limitted_list ul{
	width: 80%;
	height: auto;
	margin: 0 auto;
	display: flex;
}
.list_product .limitted_list ul li{
	width: 50%;
	height:auto;
	padding: 0;
}
.list_product .limitted_list ul li.limitted_img{
	position: relative;
}
.list_product .limitted_list ul li.limitted_img .limitted_button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	background: rgba(31,31,31,0.35);
	transition: opacity cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.list_product .limitted_list ul li.limitted_img:hover .limitted_button{
	opacity: 1;
}
.list_product .limitted_list ul li.limitted_img img{
transition: opacity cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.list_product .limitted_list ul li.limitted_img:hover img{
	opacity: 0.6;
}
.limitted_button a{
	background: #270900;
	padding: 20px 30px;
	position: relative;
    display: inline-block;
    font-size: 14pt;
    letter-spacing: 0.2rem;
    color: #fff;
    font-weight: bold;
}
.limitted_button p{
	display: block;
}
.limitted_button a::before{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 0;
	height: 5px;
	box-sizing: border-box;
	background:#ffbc1f;
	transition: width cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.limitted_button:hover a::before{
	width: 100%;
}
.limitted_button a::after{
	position: absolute;
	bottom: 0;
	right: 0;
	content: "";
	width: 0;
	height: 5px;
	box-sizing: border-box;
	background:#ffbc1f;
	transition: width cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.limitted_button:hover a::after{
	width: 100%;
}
.list_product .limitted_list ul li.limitted_text{
	width: 50%;
	padding: 50px;
	padding-bottom: 0;
}
.limitted_button a p::before{
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	width: 5px;
	height: 0;
	box-sizing: border-box;
	background:#ffbc1f;
	transition: height cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.limitted_button a p::after{
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	width: 5px;
	height: 0;
	box-sizing: border-box;
	background:#ffbc1f;
	transition: height cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.limitted_button:hover p::after{
	height: 100%;
}
.limitted_button:hover p::before{
	height: 100%;
}
.list_product .limitted_list .switch1{
flex-direction: row-reverse;
}
.list_product .limitted_list ul li img{
	width: 100%;
	height: auto;
}
.list_product .limitted_list ul li p{
	display: block;
	color: #fff;
	line-height: 30px;
}
h3, h4{
	color: #fff;
	text-align: center;
	
}
#goods_list{
	 margin: 0 100px;
}
/*******************product******************************/
.list_product #list_menu{
	width: 100%;
	height: auto;
	background-image: url("/project_coffee/images/名称未設定-1.png") no-repeat;
	background-size: 1500px 100px;
}
.list_product h2 {

    text-align: center;
    padding: 35px 0;
    display: block;
    background-color: #270900;
	margin: 0 100px;
	color:#fff;
}
.list_product .drinkmenulist{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0 100px 0;
}
.list_product .drinkmenulist::after{
	clear: both;
	content: "";
	display: block;
}
.list_product .drinkmenulist li{
	padding: 10px;
	width: 33.33%;
}
.list_product .drinkmenulist li img{
	height: 100%;
}
.list_product .item_info{
	background-color: #270900;
	padding: 10px 20px;
	min-height: 90px;
	border-right: #FFFFFF solid 1px;
	border-bottom: #FFFFFF solid 1px;
}
.item_img {
	height: 365px;
	overflow: hidden;
	border: #FFFFFF solid 1px;
	border-top: 0;
	border-left: 0;
	transition: scale 0.4s linear;
}
.item_img img{
	width: 100% !important;
	height: auto;
	margin: 0;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.item_img:hover img{
	transform: scale(1.1);
	opacity: 0.6;
}
.item_price {
	width: 100%;
}
.item_price::after{
	display: block;
	clear: both;
	content: "";
}
.item_price .pro_price{
	float: right;
	color:  #fff;
	font-size: 10pt;
}
.item_info .item_price p a{
	float: left;
	color: #fff;
	font-size: 12pt;
	font-weight: bold;
}
.item_info span{
	font-size: 9pt;
	color:  #fff;
	margin: 0;
}
/*******************************************nav-links*********************************************/
.nav-links{
	padding: 10px 20px;
}
/*******************************************button2************************************/
.button2{
	width: 100%;
	margin: 20px 0 0 0;
}
.button2{
	text-align: center;
}
.button2 a {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    font-size: 19pt;
    letter-spacing: 0.2rem;
    color: #fff;
    font-weight: bold;
    background-color:#270900;
}
.button2 a::before{
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 0;
	height: 2px;
	box-sizing: border-box;
	background:rgba(255,240,0,1.00);
	transition: width cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.button2 a::after{
	position: absolute;
	top: 100%;
	right: 0;
	content: "";
	width: 0;
	height: 2px;
	box-sizing: border-box;
	background:rgba(255,240,0,1.00);
	transition: width cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.button2:hover a::before{
	width: 100%;
}
.button2:hover a::after{
	width: 100%;
}
.button2 p{
	position: relative;
}
.button2 p::before{
	position: absolute;
	bottom: 0;
	left:0;
	content: "";
	width: 3px;
	height: 0;
	box-sizing: border-box;
	background:rgba(255,240,0,1.00);
	transition: height cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.button2:hover p::before{
	height: 100%;
}
.button2 p::after{
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	width: 3px;
	height: 0;
	box-sizing: border-box;
	background:rgba(255,240,0,1.00);
	transition: height cubic-bezier(0.8, 0, 0.2, 1) 1s 0.1s;
}
.button2:hover p::after{
	height: 100%;
}
#wrap_footer .list_product .goods{
	padding: 0;
	background: none;
}
/**************************************************************************************************/
.news{
	width: 50%;
	margin: 50px auto;
}
.news h2{
	text-align: center;
}
.heading {
  background:url("/project_coffee/images/bg_news.png") repeat-x;
  padding: 10px 22px ;
  letter-spacing: 1px;
  font-size: 1.6rem;
}
.scroll-list {
  font-size: 0;
  margin-bottom: 30px;
  color: #333333
}
.scroll-list li{
	padding: 10px 20px;
}
.scroll-list .date {
  display: inline;
  width: 17%;
  font-size: 1.0rem;
  text-align: center;
  
}
.scroll-item .category {
  background-color: #ffbc1f;
  line-height:1.6;
  display: inline-block;
  width: 8%;
  font-size: 1.0rem;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 5px;
}
.scroll-list .title {
  display: inline-block;
  width: 75%;
  font-size: 11pt;
  line-height: 1.5;  
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: underline;
}
.scroll-list .category.news {
  background-color: #ffbc1f;
}
/*******************************************goods menu********************************************/
.list_product #goods_list ul li{
	width: 33.33%;
	padding: 50px 20px;
	margin: 50px 0;
}
.list_product #goods_list ul li:last-child{
	border-right: 0;
}
.list_product #goods_list ul li img{
    width: 100%;
    height: auto;
}
.list_product #goods_list ul li #move1{
    padding: 15px 0 0;
}
.list_product #goods_list ul li .limitted_button{
width: 64%;
margin: 0 auto;
}
.list_product #goods_list ul .cart_move .limitted_button{
margin: 14px auto 0;
}
/*************************************sns***********************************/
#wrap_sns_content {
    min-height: 300px;
    margin: 0 100px;
}
#wrap_sns_content #sns_content p{
	color: #fff;
	text-align: center;
	font-size: 11pt;
	line-height: 1.5;
}
#wrap_sns_content #sns_content{
	display: flex;
	padding: 0 20px;
} 
.login p{
	text-align: center;
}
.login a{
	color:#000;
	text-align: center;
	font-size: 25px;
	padding: 10px 20px;
	display: inline-block;
	background:#fff;
	transition: background cubic-bezier(0.8, 0, 0.2, 1) 0.3s 0.1s;
	border-radius: 10px;
}
.login a:hover{
	background-color: #ffbc1f;
	color: #fff;
}
#sns1, #sns2{
	width: 33.33%;
	border-right: 2px solid #fff;
	padding: 5px 0px;
	
}
#sns3{
	width: 33.33%;
	padding: 30px;

}
#sns_content h3{
	margin: 30px 0;
}
/******************************************sns icon************************/
#wrap_footer{
	width: 100%;
	background: url("/project_coffee/images/footer.png") no-repeat;
	background-size: 100% 100%;
	padding: 230px 0 0;
}
#sms_float{
	display: flex;
	width: 70%;
	margin: 0 auto;
}
#sms_float div{
	padding: 12px;
	margin-top: 50px;
}
#sms_float i{
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 20%;
	border: 1px solid #fff;
    text-align: center;
    padding: 10px;
    font-size: 20pt;
	transition: color cubic-bezier(0.8, 0, 0.2, 1) 0.3s 0.1s;
	transition: border cubic-bezier(0.8, 0, 0.2, 1) 0.3s 0.1s;
}
#sms_float i:hover{
	color: #ffbc1f;
	border: 1px solid #ffbc1f;
}
/**************************footer***********************/
footer{
	width: 100%;
	height: auto;
	padding: 0 100px;
}
footer::after{
	display: block;
	content: "";
	clear: both;
}
footer #small_block_left{
	width: 50%;
	float: left;
	padding: 30px 0;
}
footer #small_block_right{
	width: 33%;
	float: right;
	display: flex;
}
footer #small_block_right .small_all a{
	display: block;
	font-size: 17.3px;
	padding: 30px 29px;
	transition: color cubic-bezier(0.8, 0, 0.2, 1) 0.3s 0.1s;
}
footer #small_block_right .small_all a:hover{
	color: #ffbc1f;
	
}
footer #small_block_right .small_all a:nth-last-of-type(3){
	padding-right: 0;
}
#small_block_left small{
	font-size: 10pt;
	margin-left: 98px;
}
#slider_around{
	width: 87%;
	margin: 0 auto;
	overflow:hidden;
}
#slider_around1{
	width: 3000px;
	margin: 0 auto;
}
#slider_around1 ul{
	width: 100%;
	height: auto;
	margin: 30px auto;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}
#slider_around ul li{
	width: 25%;
	height: auto;
	padding: 0;
}
#slider_around ul li img{
	width: 100%;
	height: auto;
	background-size: 100% auto;
}
#slider_around1 {
  animation: slider 20s infinite;
}
@keyframes slider {
	0% {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	}
	100% {
	-webkit-transform: translateX(-1750px);
	transform: translateX(-1750px);
	}
}
/*******************************************table***************************************/
#about_cnt{
	width: 60%;
    height: auto;
    margin: 0 auto;
}
#about_cnt table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
	box-shadow:10px 10px 10px rgba(0,0,0,0.4);
	margin:50px auto;
}

#about_cnt td, 
#about_cnt th {
  border: 2px solid #ce854a;
  text-align: left;
  padding: 8px;
}

#about_cnt tr:nth-child(even) {
  background-color: #ce854a;
}
/*****************************************grid***********************************************/
#wrap_about_content{
	width: 100%;
	height: auto;
}
#about_content1{
	width: 40%;
	height: 1000px;
	background: url("/project_coffee/images/aboutimg1.png") no-repeat;
	background-size: 100% auto;
	margin: 0 0 0 70px;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #331a13;
  padding: 38px;
  margin: 100px 100px;
}
.container div {
	text-align: center;
}

.container div.item1{
 	grid-column: 1/3;
	grid-row: 1/3;
	width: 480px;
	height: 480px;
}
.container div#item2{
	grid-column: 3/4;
	grid-row: 1/3;
	width: 240px;
	height: 480px;
}
.container div#item6{
	grid-column: 1/3;
	grid-row: 3/3;
	width: 480px;
	height: 240px;
}
.container div.item8{
  grid-column: 4/6;
  grid-row: 2/4;
	width: 494px;
	height: 480px;
	overflow: hidden;
}

/*-------------------------item_hover---------------------------*/
.item1{
	position: relative;
	width: 100%;
	height: auto;
	display: block;
	background: url("/project_coffee/images/office-336368_640.jpg") no-repeat;
	background-size: 100% 100%;
}

.item1_1{
	position: absolute;
	width: 100%;
	height: 480px;
	top:0;
	left: 0;
	content: "";
	background: rgba(0,0,0,0);
}
.item1:hover .item1_1{
	background: rgba(0,0,0,0.65);
}
.item1 .item1_1 h2{
	position: absolute;
	top: 27%;
	left: 50%;
	transform: translate(-50%,-27%);
	line-height: 2rem;
	visibility: hidden;
}
.item1:hover h2{
	visibility: visible;
}
.item1 .item1_1 span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
	width: 100%;
	height: auto;
	visibility: hidden;
	line-height: 2rem;
}
.item1:hover span{
	visibility: visible;
}
.item8{
	position: relative;
	width: 100%;
	height: auto;
	display: block;
	background-size: 100% 100%;
	background-color: #000;
}
.item8 video{
	height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item9{
	position: relative;
	width: 100%;
	height: 240px;
	display: block;
	background: url("/project_coffee/images/about_img1.png") no-repeat;
	background-size: 100% 100%;
}
.item1_2{
	position: absolute;
	width: 100%;
	height: 240px;
	top:0;
	left: 0;
	content: "";
	background: rgba(0,0,0,0);
}
.item9:hover .item1_2{
	background: rgba(0,0,0,0.6);
}
.item9 .item1_2 span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
	width: 100%;
	height: auto;
	visibility: hidden;
	line-height: 2rem;
}
.item9:hover span{
	visibility: visible;
}
.item1_2{
	position: absolute;
	width: 100%;
	height: 240px;
	top:0;
	left: 0;
	content: "";
	background: rgba(0,0,0,0);
}
.item9:hover .item1_2{
	background: rgba(0,0,0,0.6);
}
.item9 .item1_2 span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	font-size: 20px;
	width: 100%;
	height: auto;
	visibility: hidden;
	line-height: 2rem;
}
.item9:hover span{
	visibility: visible;
}
#item2{
	position: relative;
	width: 240px;
	height: 240px;
	display: block;
	background: url("/project_coffee/images/about_img2.png") no-repeat;
	background-size: 100% 100%;
}
.item1_2{
	width: 100%;
	height: 100%;
}
#item3{
	position: relative;
	width: 240px;
	height: 240px;
	display: block;
	background: url("/project_coffee/images/about_img3.png") no-repeat;
	background-size: 100% 100%;
}
#item4{
	position: relative;
	width: 240px;
	height: 240px;
	display: block;
	background: url("/project_coffee/images/about_img4.png") no-repeat;
	background-size: 100% 100%;
}
#item5{
	position: relative;
	width: 240px;
	height: 240px;
	display: block;
	background: url("/project_coffee/images/about_img5.png") no-repeat;
	background-size: 100% 100%;
}
#item6{
	position: relative;
	width: 240px;
	height: 240px;
	display: block;
	background: url("/project_coffee/images/about_img6.png") no-repeat;
	background-size: 100% 100%;
}
#item7{
	position: relative;
	width: 240px;
	height: 240px;
	display: block;
	background: url("/project_coffee/images/about_img7.png") no-repeat;
	background-size: 100% 100%;
}
/********************************************************style_menu***********************************************************/
#mainvisual_img{
    width: 84.3%;
    margin: 0 auto;
    height: auto;
    position: relative;
    margin-bottom: 100px;
}

#mainvisual_img #txt_trans {
    background: 
    rgba(0,0,0,0.64);
    width: 100%;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 24px 0;
}
#mainvisual_img #txt_trans h2 {
    font-size: 84pt;
    margin: 0;
    padding: 0;
    color: 
    yellow;
    text-align: center;
}
.list_product #list_menu{
	width: 100%;
	height: auto;
	background-image: url("/project_coffee/images/名称未設定-1.png") no-repeat;
	background-size: 1500px 100px;
}
.list_product h2 {

    text-align: center;
    padding: 35px 0;
    display: block;
    background-color: #270900;
	margin: 0 100px;
	color:#fff;
}
.list_product .drinkmenulist{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0 100px 0;
}
.list_product .drinkmenulist::after{
	clear: both;
	content: "";
	display: block;
}
.list_product .drinkmenulist li{
	padding: 10px;
	width: 33.33%;
}
.list_product .drinkmenulist li img{
	height: auto;
}
.list_product .item_info{
	background-color: #270900;
	padding: 10px 20px;
	min-height: 90px;
	border-right: #FFFFFF solid 1px;
	border-bottom: #FFFFFF solid 1px;
	margin-top: -4px;
}
.item_img {
	height: auto;
	overflow: hidden;
	border: #FFFFFF solid 1px;
	border-top: 0;
	border-left: 0;
	transition: scale 0.4s linear;
}
.item_img img{
	width: 100% !important;
	height: auto;
	margin: 0;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
.item_img:hover img{
	transform: scale(1.1);
	opacity: 0.6;
}
.item_price {
	width: 100%;
}
.item_price::after{
	display: block;
	clear: both;
	content: "";
}
.item_price .pro_price{
	float: right;
	color:  #fff;
	font-size: 10pt;
}
.item_info .item_price p a{
	float: left;
	color: #fff;
	font-size: 12pt;
	font-weight: bold;
}
.item_info span{
	font-size: 9pt;
	color:  #fff;
	margin: 0;
}

/******************************************media*************************************************/
/*@media screen and (max-width : 640px){
#wrap_body{
	width: 100%;
	min-width: 320px;
}
#header_right {
    width: 75%;
    height: 100px;
    float: right;
    padding: 40px 0 40px 62px;
    margin: 0 auto;
}
nav ul.tate {
   display: none;
	visibility: hidden;
}
#toggle {
    width: 100px;
    height: 100px;
    position: fixed;
    display: block;
    padding: 35px;
    top: -4px;
    left: -21px;
    z-index: 23;
    cursor: pointer;
}
.content_right {
    margin-left: 55px;
}
#wrap_content_right {
    width: 100%;
    margin-left: 0px;
    position: relative;
    top: 0;
    left: 0;
}
.content_right {
    margin-left: 0px;
}
.slick-slide img {
    display: block;
    width: 100%;
    height: 450px;
}
.slide-ontop h1 {
	font-size: 25px;
}
.slide-ontop {
    position: absolute;
    right: 22px;
    top: 231px;
    z-index: 4;
    display: table;
    clear: both;
    content: "";
}
.slide-ontop .button {
    float: right;
    background-color: #270900;
    width: 51%;
    margin: 15% auto;
}
.banner {
	padding: 0;
	position: relative;
}
.banner #coffe_packs {

    width: 50%;
    padding: 100px 0 100px 77px;

}
.banner .text {

    width: 50%;
    padding: 117px 20px;

}
.banner .text h2 {

    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20pt;
    color: 

    #fff;
    font-family: Georgia, "Times New Roman", Times, "serif";

}
.banner .text .text2 {

    display: block;
    font-family: Georgia, "Times New Roman", Times, "serif";
    text-align: center;
    font-size: 10.5pt;
    padding: 30px 0 0 5px;
    line-height: 2;

}
.list_product h2 {

    text-align: center;
    padding: 20px 0;
    display: block;
    background-color: 

#270900;

margin: 0 50px;

color:

    #fff;
    font-size: 20px;

}
.list_product ul {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px 0;

}
.list_product .limitted_list ul li.limitted_text {

    width: 50%;
    padding: 0px 5px;
        padding-bottom: 0px;
    padding-bottom: 0;
}
h3, h4 {
    color: 
    #fff;
    text-align: center;
    font-size: 15px;
    margin: 0;
}
.list_product .limitted_list ul li p {
    display: block;
    color: 
    #fff;
    line-height: 14px;
    font-size: 9pt;
}
.list_product ul.drinkmenulist{	
	display: flex;
	margin: 0 auto;
    width: 90%;
    padding: 0px 10px 0;
}
.list_product ul.drinkmenulist li{
    padding: 10px 10px 0;
    width: 50%;
}
.list_product ul.drinkmenulist li:nth-child(2n+1){
	padding-right: 5px;	
}
.item_img {
    height: 195px;
}
.list_product .item_info {
	background-color: #270900;
	padding: 10px 20px;
	min-height: 69px;
	border-right:#FFFFFF solid 1px;
	border-bottom:#FFFFFF solid 1px;
}
.item_price .pro_price {
	float: right;
    color: #fff;
    font-size: 9pt;
}
.item_info .item_price p a {
	float: left;
    color: #fff;
    font-size: 12pt;
    font-weight: bold;
}
#wrap_footer {
    width: 100%;
    background: url("/project_coffee/images/footer.png") no-repeat;
    background-size: auto;
    background-size: 100% auto;
}
#wrap_footer .list_product .goods {
	margin: 50px auto;
    padding: 60px 0 0;
    background: none;

}
#wrap_footer .list_product .goods img{
	width:20%;
	height: auto;
}
#goods_list {
    margin: 0 60px;
}
.list_product #goods_list ul li {
    width: 33.33%;
    margin: 25px 0 0;
	padding: 0;
}
	.list_product #goods_list ul li .limitted_button {
    display: none;
}
#wrap_sns_content #sns_content{
	display: flex;
	padding: 0 20px;
	flex-wrap: wrap;
}
#wrap_sns_content {
    min-height: 300px;
    margin: 0 50px;
}
#wrap_sns_content #sns_content {
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
}
#sns1, #sns2 {
    width: 50%;
    padding: 0;
    margin: 0;
}
#sns2{
	border-right: none;
}
#sns3 {

    width: 33.33%;
    padding: 30px;
    margin: 0 auto;

}
#sns_content h3 {

    margin: 10px 0 25px;
    display: none;
	visibility: hidden;
}
#sns_content h3 {
    margin: 10px 0 25px;
}
#wrap_sns_content #sns_content p {
    color: #fff;
    text-align: center;
    font-size: 9pt;
    line-height: 1.3;
}
#wrap_sns_content #sns_content #sns3 #login a {
	color: #000;
    text-align: center;
    font-size: 11pt;
	display: block;
}

#sms_float div {
    padding: 10px 6px;
    margin-top: 15px;
}
#wrap_sns_content #sns_content #sns3 #login {
    margin-top: 0px;
    padding: 10px 0;
}
#sms_float i{
    color:#fff;
	width: 30px;
	height: 30px;
	border-radius: 20%;
	border: 1px solid #fff;
    text-align: center;
    padding: 7px;
    font-size: 13pt;
    transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.3s 0.1s;
}
main{
	width: 95%;
	margin: 0 auto;
	margin-bottom: 50px;
}
main h2{
	font-size: 15pt;
}
main p{
	font-size: 12pt;
}
main a{
	font-size: 12pt;
}

}