@charset "utf-8";
p{
	text-align: center;
}
body {
	margin:0;
	padding:0;
	line-height:1.6;
	font-size: 125%;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif","Times New Roman";
	font-weight: 600;
	color: #6F6E6E;
	background-color: #f7f0f0;
}
*{
	box-sizing: border-box;
}
li{
	list-style: none;
}
img{
	vertical-align: top;
}
a{
	text-decoration: none;
	color: #6F6E6E;
	display: block;
	text-align: center;
}
/* CSS Document */
/* ==================================================
top
================================================== */
main #tmp_intro_index{
	margin-bottom: 150px;
}
main .section_flag{
	background: url("image/h2.png") no-repeat center top;
	padding-top: 100px;
	text-align: center;
	margin-bottom: 50px;
	color: #9c1e33;
	font-size: 200%;
	font-weight: 900;
}
.section_ttl h2{
	background: url("image/musubi.png") no-repeat center top;
	text-align: center;
	padding: 90px 0 20px 0;
	width: 100%;
	height: 137px;
	margin: 0 auto;
	margin-bottom: 100px;
}
 .section_cnt h3{
	text-align: center;
}
/* index */
/* ==================================================
================================================== */
#tmp_cultural .section_cnt{
	width: 980px;
	margin: 0 auto;
	margin-bottom: 100px;
}
#tmp_cultural .cultural_slide ul {
	display: flex;
	flex-wrap: wrap;
	
}
#tmp_cultural .cultural_slide ul li{
	width: 33.3%;
	padding: 15px 12px 20px;
}
#tmp_cultural .cultural_slide ul li a span.slick_img img{
	margin-bottom: 10px;
	display: block;
	width: 100%;
	height: auto;
}
#tmp_cultural .cultural_slide ul li a span.slick_text{
	width: 100%;
	padding:20px;
	text-align: center;
	background-color: #fff;
	display: block;
}
/* study */
/* ==================================================
================================================== */
#tmp_study .study_box{
	width: 600px;
	margin: 0 auto 150px;
}
#tmp_study .study_box ul{
	display: flex;
	flex-wrap: wrap;
	margin: auto -20px;
	
}
#tmp_study .study_box ul li{
	width: 50%;
	padding: 20px;
}
#tmp_study .study_box ul li a{
	width: 250px;
	height: 181px;
	padding-top: 70px;
	color: #6F6E6E;
	transition: background .8s linear;
}
#tmp_study .study_box ul li:first-child a{
	background: url("image/index-study1.png") no-repeat center center;
}
#tmp_study .study_box ul li:nth-child(2) a{
	background: url("image/index-study2.png") no-repeat center center;
}
#tmp_study .study_box ul li:nth-child(3) a{
	background: url("image/index-study3.png") no-repeat center center;
}
#tmp_study .study_box ul li:nth-child(4) a{
	background: url("image/index-text.png") no-repeat center center;
	color: #9c1e33;
}

#tmp_study .study_box ul li:first-child a:hover{
	background: url("image/index-study1_hover.png") no-repeat center center;
	transition: background .8s linear;
}
#tmp_study .study_box ul li:nth-child(2) a:hover{
	background: url("image/index-study2_hover.png") no-repeat center center;
	transition: background .8s linear;
}
#tmp_study .study_box ul li:nth-child(3) a:hover{
	background: url("image/index-study3_hover.png") no-repeat center center;
	transition: background .8s linear;
}
#tmp_study .study_box ul li:nth-child(4) a:hover{
	background: url("image/index-text_hover.png") no-repeat center center;
	transition: background .8s linear;
}


/***********************************wrap_about_header_slide****************************************************/
.wrap_about_header_slide{
	position: relative;
}
.wrap_about_header_slide .about_logo{
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 0;
	left: 0;
	background: url("image/logoline長方形_.png") no-repeat center center;
}


/***********************************section-tmp-about-01****************************************************/
.introduce .section_cnt h2 {
	font-size: 200%;
	font-weight: 900;
	text-align: left;
	margin-bottom: 50px;
}
#tmp_about_01{
	position: relative;
	padding: 50px 0 100px 0;
	margin-bottom: 150px;
}
#tmp_about_01::after{
	position: absolute;
	content: "";
	width: 155px;
	height: 111px;
	background: url("image/cloud.png")no-repeat;
	top: 0;
	left: 0;
}
#tmp_about_01::before{
	position: absolute;
	content: "";
	width: 320px;
	height: 295px;
	background: url("image/boy.png")no-repeat;
	bottom: 0;
	right: 0;
}
.introduce .section_cnt{
	width: 980px;
	margin: 0 auto;
}
.introduce .section_cnt ul{
	width: 100%;
    
}

.introduce .section_cnt ul li p{
	position: relative;
	display: inline;
	font-size: 150%;
	line-height: 45px;
	font-weight: 900;	
	letter-spacing: 0.165em;
}
.introduce .section_cnt ul li p::after{
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	width: 100%;
	height: 13px;
	z-index: -1;
}
.introduce .section_cnt ul li:nth-child(1) p::after{
	background-color: #ffafa1;
}
.introduce .section_cnt ul li:nth-child(2) p::after{
	background-color: #fbf787;
}
.introduce .section_cnt ul li:nth-child(3) p::after{
	background-color: #afdde0;
}
 .introduce .section_cnt ul li{
	background-size: auto 100%;
	padding-left: 35px;
}
 .introduce .section_cnt ul li:nth-child(1){
	background: url("image/pins1.png") no-repeat ;
}
.introduce .section_cnt ul li:nth-child(2){
	background: url("image/pins2.png") no-repeat;
}
.introduce .section_cnt ul li:nth-child(3){
	background: url("image/pins3.png") no-repeat;
}



/***********************************section-tmp-about-02****************************************************/
main .about_cultural{
	margin-bottom: 100px;
}
main .about_cultural .section_cnt ul{
	width: 1280px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
main .about_cultural .section_cnt ul li{
	width: 25%;
	margin-bottom: 50px;
}
main .about_cultural .section_cnt ul li span{
	display: block;
	text-align: center;

}

/***********************************section-tmp-about-04****************************************************/
main #tmp_about_04{
	margin-bottom: 150px;
}

main #tmp_about_04 #tmp_jpskill_box_01{
	display: block;
	width: 980px;
	margin: 0 auto;
	margin-bottom: 100px;
}
main #tmp_about_04 #tmp_jpskill_box_01 .jpskill_box_01_01{
	height: 374px;
	display: block;
	width: 100%;
}
main #tmp_about_04 #tmp_jpskill_box_01 .jpskill_box_01_01 p img{
	text-align: center;
}
main #tmp_about_04 #tmp_jpskill_box_01 .jpskill_box_01_02 span:first-child{
	display: block;
	height: 140px;
	text-align: right;
	background: url("image/}.png")no-repeat;
	padding: 55px 0;
}
main #tmp_about_04 #tmp_jpskill_box_01 .jpskill_box_01_02 span:last-child{
	display: block;
	height: 110px;
	text-align: right;
	background: url("image/}_2.png")no-repeat;
	padding: 40px 0;
}
main #tmp_about_04 #tmp_jpskill_box_02{
	width: 980px;
	margin: 0 auto;
}
main #tmp_about_04 #tmp_jpskill_box_02 h3{
	text-align: center;
	margin-bottom: 50px;
}
main #tmp_about_04 #tmp_jpskill_box_02 .jpskill_box_02_01 ul{
	display: flex;
	padding-right: 220px;
	background: url("image/black_girl.png") no-repeat;
	background-position: bottom right;
	height: 250px;		
}
main #tmp_about_04 #tmp_jpskill_box_02 .jpskill_box_02_01 ul li{
	list-style: none;
	width: 33.33%;
	height: auto;
	margin: 0 10px;
}
main #tmp_about_04 #tmp_jpskill_box_02 .jpskill_box_02_01 ul li p{
	display: block;
	padding: 109px 0;
}
main #tmp_about_04 #tmp_jpskill_box_02 .jpskill_box_02_01 ul li:nth-child(1) {
	background: url("image/muiten1.png") no-repeat center center;
	background-size: 100% auto;
}
main #tmp_about_04 #tmp_jpskill_box_02 .jpskill_box_02_01 ul li:nth-child(2) {
	background: url("image/muiten2.png") no-repeat center center;
	background-size: 100% auto;
}
main #tmp_about_04 #tmp_jpskill_box_02 .jpskill_box_02_01 ul li:nth-child(3) {
	background: url("image/muiten3.png") no-repeat center center;
	background-size: 100% auto;
}
/***********************************section-tmp-about-05****************************************************/
main #tmp_about_05{
	margin-bottom: 150px;
}
main #tmp_about_05 .section_cnt ul{
	width: 980px;
    margin: 0 auto;
	background: url("image/cloud.png") no-repeat bottom right;
}
/**************************************tmp_study*************************************************/
#tmp_mondai_page{
	display: flex;
	margin-bottom: 250px;
}
#tmp_mondai_page .left_navi{
	width: 20%;
}
#tmp_mondai_page #tmp_wrap_right{
	width: 80%;
	height: auto;
}
#tmp_study_mondaipage_PC{
    margin-bottom: 200px;
}
#tmp_study_mondaipage_PC h3{
	background-color: #9c1e33;
    color: #fff;
    display: block;
    width: 165px;
    padding: 5px;
	margin: 55px 0;
}
#tmp_study_mondaipage_PC .study_mondaipage_PC_list{
	display: flex;
    flex-wrap: wrap;
}
#tmp_study_mondaipage_PC .study_mondaipage_PC_list a{
	padding: 15px 10px;
    text-align: left;
    background-color: #fff;
    color: #9c1e33;
    margin: 0 10px 10px 0;
    width: 185px;
    height: auto;
	transition: background .4s linear;
}
#tmp_study_mondaipage_PC .study_mondaipage_PC_list a:hover{
    background-color: #9c1e33;
    color: #fff;
	transition: background .4s linear;
}
#tmp_study_mondai_page{
	display: none;
    visibility: hidden;
    overflow: hidden;
}
#tmp_study_mondai_page #tmp_wrap_right{
	width: 100%;
	height: auto;
}
#tmp_mondai_page #tmp_right_cnt{
	position: relative;
	padding: 239px 0 50px 0;
}
#tmp_mondai_page .left_navi ul li .dropdown_Noun_cnt a{
	background-color: #fff;
	color: #6F6E6E;
}
#tmp_mondai_page .left_navi ul li a.study-header-list{
	display: block;
	background-color: #9c1e33;
	color: #fff;
	margin: 2px 50px 2px 0;
	padding: 10px 0 10px 10px;
}
a.study-header-list_01 {
    display: block;
    background-color: #9c1e33;
    color: #fff;
    padding: 10px 0 10px 10px;
}
#tmp_mondai_page #tmp_right_cnt::after{
	position: absolute;
	content: "";
	top: 0;
	left: 50%;
	width: 415px;
	height: 239px;
	background: url("image/rainbowboyandgirl.png") no-repeat top center;
	transform: translate(-50%,0);
}
#tmp_study_mondai_page #tmp_right_cnt ul{
	width: 100%;
	margin: 0 auto;
	display: flex;
	padding: 75px 50px 50px;
	flex-wrap: wrap;
}
#tmp_right_cnt ul li{
	width: 20%;
	height: auto;
	padding: 0 10px;
}
#tmp_right_cnt ul li a.study-header-list{
	background-color: #9c1e33;
	color: #fff;
	font-size: 115%;
	display: block;
	line-height: 36px;
	font-weight: 100;
	letter-spacing: 0.111em;
	text-align: center;
	padding: 10px 0 10px 10px;
	margin: 2px 50px 2px 0;
}
.dropdown_Noun_cnt_01 a{
	display: block;
	line-height: 36px;
	font-weight: 100;
	letter-spacing: 0.111em;
	font-size: 18px;
	text-align: center;
	background-color: #fff;
	color: #4c4c4c;
	padding: 10px 0 10px 10px;
	margin: 0;
}
.dropdown_Noun_cnt_02 a{
	margin: 2px 50px 2px 0;
	display: block;
	line-height: 36px;
	font-weight: 100;
	letter-spacing: 0.111em;
	font-size: 18px;
	text-align: center;
	background-color: #fff;
	color: #4c4c4c;
	padding: 10px 0 10px 10px;
}
#tmp_mondai_page_button{
	display: none;
	visibility: hidden;
	width: 160px;
	margin: 0 auto;
	margin-bottom: 60px;
}
#tmp_mondai_page_button a{
	display: none;
	visibility: hidden;
	padding: 20px 20px;
	text-align: center;
	background-color: #fff;
}
/*********************************************study_drink************************************************/
#tmp_wrap_right .section_cnt{
	padding: 0 65px;
}

#tmp_study_list{
	padding: 0 0 50px 0;
}
#tmp_study_list .section_ttl h2 {
	margin-bottom: 35px;
}
#tmp_study_list ul{
	position: relative;
	width: 100%;
	height: auto;
	background:url("image/mondai_bg.png")repeat-Y center center;
	background-size: 100% auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 90px 35px 35px 45px;  
}
#tmp_study_list ul::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	background: url("image/mondai_bg_top.png") no-repeat;
	background-size: 100% auto;
	width: 100%;
	height: 47px;
}
#tmp_study_list ul::after{
	position: absolute;
	content: "";
	top:100%;
	left: 0;
	background: url("image/mondai_bg_bottom.png") no-repeat;
	background-size: 100% auto;
	width: 100%;
	height: 106px;
}
.noun_list ul li {
	width: 25%;
	padding: 10px;
	padding-left: 0;
	padding-top: 0;
}
.verb_list ul li {
	width: 50%;
	padding: 10px;
	padding-left: 0;
	padding-top: 0;
}
.hyogen_list ul li{
	width: 100%;
	padding: 10px;
	padding-left: 0;
	padding-top: 0;
}
#tmp_study_list li .wrap_mondai_list{
	background-color: #e5e5e5;
	padding: 10px 0 10px 0;
	border-radius: 25px;
}

.verb_list ul li .wrap_mondai_list {
	padding: 5% 0;
}
#tmp_study_list li .wrap_mondai_list .wrap_japanese_object{
	height: 70px;
}
#tmp_study_list li .wrap_mondai_list span.japanese_object{
	display: block;
	text-align: center;
	color: #9c1e33;
	font-size: 120%;
}
#tmp_study_list li .wrap_mondai_list span.japanese_object_smaller{
	display: block;
	text-align: center;
	padding: 0 0 5% 0;
	color: #9c1e33;
	font-size: 70%;
}
#tmp_study_list li .wrap_mondai_list_cnt{
	display: flex;
}
#tmp_study_list li .mondai_txt{
	width: 50%;
    padding-right: 10px;
	padding-top: 10px;
}
#tmp_study_list li .mondai_txt p{
	font-size: 95%;
    font-weight: 300;
	font-family: arial;
}
#tmp_study_list li .mondai_txt p{
	font-size: 75%;
	text-align: left;
}
#tmp_study_list li .mondai_img_cnt{
	width: 50%;
	padding: 0 5px;
}

/* test */
/* ==================================================
================================================== */
.question_block .question_text p{
	position: relative;
	display: inline-block;
    padding-left: 30px;
}
.question_block .question_text p:after{
	position: absolute;
	content: "①";
	top:0;
	left: 0;
}
.question_block .question_text p input[type="text"]{
	display: none;
}
.question_block:nth-child(1) .question_text p:after{
	content: "①";
}
.question_block:nth-child(2) .question_text p:after{
	content: "②";
}
.question_block:nth-child(3) .question_text p:after{
	content: "③";
}
.question_block:nth-child(4) .question_text p:after{
	content: "④";
}
.question_block:nth-child(5) .question_text p:after{
	content: "⑤";
}
#tmp_test .test_frame{
	width: 100%;
}
#tmp_test .test_frame .question_text{
	padding: 50px 0;
	text-align: center;
}
#tmp_test .test_frame .answer_text{
	width: 500px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
#tmp_test .test_frame .answer_text .answer_box{
	width: 50%;
	position: relative;
	margin-bottom: 50px;
}
#tmp_test .test_frame .answer_text .answer_box:nth-child(2n){
	text-align: right;
}
#tmp_test .test_frame .answer_text .answer_box input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#tmp_test .test_frame .answer_text .answer_box span{
	display: block;
}
#tmp_test .test_frame .answer_text .answer_box label{
	padding: 0 0 0 30px;
	position: relative;
	display: inline-block;
}
#tmp_test .test_frame .answer_text .answer_box label:before {
  position: absolute;
  display: block;
  content: '';
  border-radius: 16px;
  z-index: 0;
  top: 7px;
  left: 0;
  background-color: transparent;
  width: 16px;
  height: 16px;
  border: 2px #78909c solid;
  box-sizing: border-box;
}
#tmp_test .test_frame .answer_text .answer_box input[type="radio"]:checked + label::before {
  border-width: 4px;
  border-color: #4caf50;
}
p.button_box button {
 	background-color: #fff;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}
p.button_box button:hover {
	background-color: #333;
	color: #fff;
	transition: all .4s linear;
}