@charset "utf-8";
@media screen and (max-width : 480px) {
/* body
================================================== */
body {
	-webkit-text-size-adjust:none;
	font-size: 87.5%;
}
/* wrapper
================================================== */
#wrap{
	width:100%;
	min-width:320px;
	margin:0 !important;
	overflow: hidden;
}
#wrap_content {
    width: auto;
    background: url("images/bg4.jpg") no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.overlay ul {
    width: 100%;
	height: auto;
}
.toggle-button {
	visibility: visible;
	opacity: 1;
}
.header_bar {
    visibility: hidden;
    opacity: 0;
}
#wrap_slide {
    overflow: hidden;
    background: none;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 20px;
}
#wrap_slide .container {
    margin: 0;
}
.slide_book_img a{
	padding: 88px 20px 51px;
	background: url("images/bookshelve.png") no-repeat bottom center;
	background-size: 80% auto;
	display: block;
}
.slide_book_img a img {
    width: 50%;
    height: auto;
    margin: 0 auto;
}
.col_main {
    width: 100%;
    margin: 0 auto;
    padding: 30px 10px;
}
.aboutus_content {
    margin: 0 0 15px 0;
}
#section1 h3 {
    margin: 0;
    text-align: center;
    font-size: 9pt;
}
.aboutus_content_ttl a {
    display: block;
    width: 20px;
    height: 20px;
    background: url("images/アセット-2.png") no-repeat;
    position: absolute;
    top: 65%;
    right: 14px;
    transform: translate(0,-65%);
    background-size: 100% auto;
}
.aboutus_content.active a {
    background: url("images/アセット-1.png") no-repeat;
	background-size: 100% auto;
	width: 20px;
    height: 20px;
}
.wrap_book_category .book_category_about span{
    font-size: 9pt;
    line-height: 1.5;
    color: #333;
    text-align: center;
    display: inline-block;
}
.cate_ttl h2 {
    font-size: 25pt;
}
#subscribe .col_main h3 {
    margin-bottom: 5px;
    text-align: center;
}
form {
    text-align: center;
    margin-left: 0;
}
input[type="text"] {
    width: 280px;
    height: 40px;
    padding: 5px 0px 5px 19px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    margin-right: 0;
    color: rgba(26,26,26,1.00);
    margin-bottom: 10px;
}
#pagetop {
    visibility: hidden;
    opacity: 0;
}	
ul.SNS_share {
    width: 70%;
    height: auto;
    display: flex;
    margin: 30px auto 25px;
}
ul.SNS_share li a {
    display: block;
    text-decoration: none;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}
#wrap_slide .container {
    min-width: 100%;
    position: relative;
    margin: 0;
}
ul.slide_list_block li {
    padding: 0;
    width: 100%;
}
#wrap_slide .slick-list {
    width: 100%;
    padding: 0 !important;
}
ul.slide_list_block li .slide_book_img,
ul.slide_list_block li .slide_book_cnt {
    float: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
ul.slide_list_block {
    margin: 0;
}
.button {
    box-shadow: none;
}
.wrap_book_category .book_category_cnt ul.book_category_cnt_list .slick-list {
    width: 100%;
    margin: 0 auto;
}
.wrap_book_category .book_category_cnt .slider2 .slick-prev{
    left: -3px;
    background: url(images/prev2.png)no-repeat center center;
    z-index: 99;
    background-size: 90% auto;
}
.wrap_book_category .book_category_cnt .slider2 .slick-next{
    right: -3px;
    background: url(images/next2.png)no-repeat center center;
    z-index: 99;
    background-size: 90% auto;
}
.wrap_book_category .book_category h3 {
    width: 100%;
    position: relative;
    padding: 0;
}
.wrap_book_category .book_category_cnt ul.book_category_cnt_list li a img{
    width: 55%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.reading_BG {
	padding-bottom: 70.7%;/*(H/W*100%)*/
	height: 0;
	background-size: 100% auto;
}
#mainvisual h2 {
	font-size: 16pt;
}
#wrap_book_button ul {
    top: 50%;
    left: 10px;
    margin-top: -25px;
}
#wrap_book_button {
    width: 94%;
    left: 3%;
}
#wrap_book_button ul li:first-child,
#wrap_book_button ul li:last-child{
	width: 30px;
	height: 30px;
}
.wrap_book_category .book_category_cnt ul.book_category_cnt_list li .price_hide a.seemore{
	background-size: 50% auto;
}
.wrap_book_category .book_category_cnt ul.book_category_cnt_list li .price_hide a.Like_button {
	background-size: 50% auto;
}
#section1 .cate_ttl{
    padding: 74px 0;
}	
#section2 .cate_ttl{
    padding: 74px 0;
}
#section3 .cate_ttl{
    padding: 74px 0;
}
}