@charset "utf-8";
@media screen and (max-width : 480px) {
/* body
================================================== */
body {
	-webkit-text-size-adjust:none;
	font-size: 87.5%;
}
/* wrapper
================================================== */
#tmp_wrapper {
	width:100%;
	min-width:320px;
	margin:0 !important;
	overflow: hidden;
}
.container{
	width: 100%;
	padding: 0 10px;
}	
}

