@charset "utf-8";
/* CSS Document */


	
/*.toggle-button {
    position: fixed;
    top: 8px;
    left: 15px;
    padding: 9px 10px;
    margin: 8px 15px 8px 0;
    height: 20px;
    width: 50px;
    cursor: pointer;
    z-index: 3;
    visibility: visible;
    opacity: 1;
}*/