@media screen and (max-width : 640px) {
#tmp_wrap_body{
	min-width: 320px;
	width: 100%;
}
p {
    font-size: 10pt;
}
img{
	width: 100%;
	height: auto;
}
.banner_Profile h2 img{
	width: 100%;
	height: auto;
}
#tmp_menu ul li {
    width: 33.33%;
    float: left;
    padding: 0;
}
#tmp_menu ul {
    width: 85%;
    margin: 0;
}
#tmp_menu ul h1{
	width: 20%;
	height: auto;
}
#tmp_menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    background: url("project_portofolio/images/header_2.png") no-repeat;
    background-size: auto;
    background-size: 100% auto;
    padding:0;
    margin: 0 0 0 auto;
}
#tmp_menu ul li a {
    display: block;
    text-align: center;
	font-size: 13pt;
	padding: 5px 0;
	color: yellow;
}
#tmp_main_text {
    width: 40%;
    height: auto;
    top: 40%;
    right: 81px;
    padding: 45px 41px 70px;
}
#tmp_main_text span{
	display: block;
	top: 0;
	left: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 5%;
}
#tmp_mainvisual #mainvisual_img {
    width: 80%;
    height: auto;
}
#tmp_mainvisual	#wrap_slide {
	width: 70%;
}
#tmp_main_text h2 {
    position: absolute;
    top: -32px;
    right: -51px;
    width: 80%;
    height: auto;
}
#letter{
	display: none;
	visibility: hidden;
}
.left .left_txt p {
    font-size: 11pt;
    display: inline-block;
}
.banner_Profile {
    position: relative;
    width: 45%;
    height: auto;
    margin: 30px auto 10px;
}
.wrap_right {
	position: absolute;
    top: 25%;
    right: 0%;
	width: 100%;
	height: auto;
	padding: 120px 10px 0;
}
.wrap_right p {
    font-size: 11pt;
}
.left .left_txt {
    position: absolute;
    z-index: 15;
    top: 268px;
    left: 9px;
    transform: rotate(0);
    line-height: 1.5;
    width: 100%;
    height: auto;
    background: #01010100;
    display: block;
}
#tmp_content .banner_Profile h2 img {
    position: absolute;
    top: -157px;
    right: -49%;
    z-index: 7;
}
#tmp_wrap_profile .banner_Profile img{
    position: absolute;
	top: -166px;
	left: -122px;
	z-index: 7;
	width: 100%;
	height: auto;
}
#tmp_contact #contact_cnt {
	padding: 0;
    width: 100%;
    margin: 0 auto;
    height: 500px;	
}
.right {
    position: relative;
    width: 50%;
    height: 560px;
    background-color: #540000;
}
.list_library {
    width: 95%;
    margin: 0 auto;
}
.list_library ul {
    display: block;
}
.list_library ul li {
    width: 100%;
    height: auto;
    float: none;
    border-radius: 10px;
}
.list_library ul li a {
    margin: 0 5px 25px;
}
#sns {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    flex-wrap: wrap;
}
#sns .wrap_sns {
    width: 33%;
    height: auto;
    position: relative;
    margin: 0;
    padding: 0;
}
#sns .wrap_sns .botton {
    position: absolute;
    top: 11%;
	left: 33%;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    transition: transform cubic-bezier(0.8, 0, 0.2, 1) 0.6s 0.1s;
    width: 48%;
}
#contact_cnt_child {
    padding: 0 3%;
}
.sns_cnt {
	height: 156px;
}
#sns .wrap_sns .sns_cnt img {
    width: 65%;
    height: auto;
    display: block;
    margin: 15px auto 0;
}
#sns .sns_cnt h4{
    display: none;
	visibility: hidden;
}
#sns #instra img {
    margin: 15px auto 5px;
}
#sns .sns_cnt p {
    color: #fff;
	font-size: 10px;
}
#sns #gmail {
    background: url("project_portofolio/images/gmail.png") no-repeat;
    background-size: auto;
    background-size: 100% auto;
    padding: 62px 0;
}
#sns #meibo p {
    font-size: 12px;
}
#sns #meibo {
    padding: 74px 0 0;
}
.wrap_library ul, #sketch ul, #Logo_dedign ul{
	width: auto;
	display: block;
}
.wrap_library ul .box_wrap {
	padding: 10px;
}
.wrap_library ul li{
		width: 100%;
		height: auto;
}
.wrap_library ul li .img_txt h3 {
    color: #fff;
    margin: 0 0 5px 0;
    font-size: 12pt;
}
.wrap_library ul li .img_txt p {
    color: #fff;
	font-size: 9pt;
}
.wrap_library ul li .img_txt a {
   	line-height: 1rem;
    font-size: 10pt;
}
#sns .sns_cnt {
    margin: 50px 0 0 10px;
    padding: 10px;
    height: 128px;
}
#gmail{
	margin-left: -10px;	
}	
#tmp_wrap_body #tmp_body #to {
    width: 90%;
    background: url("project_portofolio/images/tobG.png") no-repeat;
    position: relative;
    perspective: 500px;
    height: 277px;
    box-shadow: -7px 9px 22px #6c5957;
    margin: 50px auto 0;
}
#tmp_wrap_body #tmp_body #to #nho #bottom_positon {
    width: 100%;
    height: auto;
    position: absolute;
    top: 120px;
}
.letter_text .txt_style {
    font-size: 11px;
    line-height: 1.4em;
    text-align: left;
}
#letter_content #letter2 {
    width: 50%;
    height: auto;
    position: relative;
    display: none;
    visibility: hidden;
}
#letter_content #letter1 {
    width: 100%;
    height: auto;
    position: relative;
    margin: 256px 0 0;
}
#letter_content #letter1 #rotate #L1_3 {
    width: 100%;
    height: auto;
    display: none;
}
.txt_style1 {
    font-size: 17px;
}
#letter_cnt2 .letter_text {
    width: 50%;
    height: auto;
    background: url("project_portofolio/images/paper01.png") no-repeat;
        background-size: auto;
    background-size: 100% auto;
    padding: 28px 15px 5px;
}
#letter1_txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 5px;
    background:url("project_portofolio/images/letter_resp.png") no-repeat;
	background-size: auto 100%;
}
#letter_content #letter1 #rotate {
    position: absolute;
    top: -83px;
    left: 58px;
    z-index: 6;
    width: 70%;
    height: auto;
    transform-origin: 50% 50%;
    transition: transform 0.8s linear;
    box-shadow: 0px -16px 22px #6c5957;
}
#letter1_txt .txt_style {
    font-size: 12px;
    line-height: 1.5em;
    text-align: left;
}
#letter1_txt img {
    width: 40%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.container {
    width: 100%;
	padding: 0 20px;
}
#tmp_footer {
    background: url("project_portofolio/images/footer.png") no-repeat;
    height: auto;
    width: 100%;
    padding: 126px 0 0;
    background-size: 100% auto;
}
}
@media screen and (max-width : 480px) {
#tmp_body {
    padding: 0 10px;
}
#tmp_profile_content {
    display: block;
    padding: 0;
}
#tmp_profile_content .left,
#tmp_profile_content .right {
    width: 100%;
    text-align: center;
    height: auto;
}
.left #danhthiep,
.left #danhthiep2,
.left #letter,
.left #info_img {
    position: static;
    width: 80%;
    margin: 0 auto 20px;
}
.left #danhthiep,
.left #danhthiep2{
    width: 60%;
	transform: rotate(0deg);
}
}
.list_library ul li {
    padding: 25px 40px 35px;
}
.list_library ul li a {
    margin: 0;
}
.left .left_txt {
    display: none;
    visibility: hidden;
}
.wrap_right {
    position: static;
    padding: 20px;
}
#tmp_wrap_body #tmp_body #to {
    height: auto;
    width: 100%;
}
#tmp_wrap_body #tmp_body #to #nho {
    display: none;
    visibility: hidden;
}
#letter_cnt2 {
    display: block;
}
#letter_cnt2 .letter_img,
#letter_cnt2 .letter_text {
    text-align: center;
    width: 100%;
    padding: 10px 10px 20px;
}
#letter_cnt2 .letter_text h2,
#letter_cnt2 .txt_style1{
    margin-bottom: 20px;
    display: block;
}
.letter_text .txt_style {
    font-size: 12px;
}
.list_library ul li {
    padding: 0;
    background: none;
    margin-bottom: 10px;
}
#letter_content {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
}
#letter_content #letter1{
    position:relative;
    display: block;
    visibility: visible;
}
#letter_content #letter1 {
    margin: 150px 0 0;
}
#letter1_txt,
#letter_content #letter1 #L1_2,
#letter_content #letter1 #L1{
    position: static;
}
#letter_content #letter1 #rotate {
    transform: translateY(-50px) rotate(-12deg);
    box-shadow: none !important;
}
#letter_content #letter1 #L1_2,
#letter_content #letter2 #L2_2 {
    display: none;
    visibility:hidden;
}
#letter_content #letter2 #rotate3 {
    transform: translateY(-50px) rotate(5deg);
}
#letter_content #letter2 #L2,
#letter_content #letter2 #L2_2 {
    position: relative;
}
#letter_content #letter1,
#letter_content #letter2{
    width: 100%;
}
.wrap_library h2 {
    width: 100%;
    margin: 0 -7%;
    padding: 25px 0;
}
.wrap_library h2 img,
#sketch h2 img {
    width: 114%;
    height: auto;
}
.wrap_library ul li.smallbox {
    width: 100%;
}
#tmp_footer {
    margin-top: 150px;
}
.pnavi {
    position:absolute;
    bottom: auto;
    top: auto;
    opacity: 1;
}
}